@import "vendor/null";
@import "variables";

/* Pre-settings */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* BODY */
body {
  background-color: $white;
  font-size: 1.4rem;
  font-family: $main-font;
  color: $black;
  line-height: 1.5;
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: $full-size;
}

.show {
  display: block;
}

/* Vue Transition-animation */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
